<MudPaper Class="ma-0 pa-0 d-flex flex-column align-center gap-4 flex-grow-1" Elevation="0">
    @if (dailyInventory.Any())
    {
        <MudSimpleTable Elevation="0" Dense="true" Bordered="false" Style="width: 100%;">
            <thead>
            <tr>
                <th>
                    <MudText Typo="Typo.h6">@Month.ToString("MMMM")</MudText>
                </th>
            </tr>
            </thead>
            <tbody>

            @foreach (var day in dailyInventory.OrderBy(x => x.Key))
            {
                <tr>
                    <td class="d-flex gap-4 align-center">
                        <MudAvatar Size="Size.Small" Variant="Variant.Outlined" @onclick="@(() => OnDayAvatarClicked(day.Key))">@day.Key</MudAvatar>
                        @if (day.Value.Any(x => x.IsDay))
                        {
                            <MudBadge Content="@day.Value.Where(x => x.IsDay).Sum(x => x.Count)" Color="Color.Info" Overlap="true" Class="my-1">
                                <MudIcon Icon="@Icons.Material.Filled.Today" Color="Color.Info" Size="Size.Small"/>
                            </MudBadge>
                        }

                        @if (day.Value.Any(x => !x.IsDay))
                        {
                            <MudBadge Content="@day.Value.Where(x => !x.IsDay).Sum(x => x.Count)" Color="Color.Primary" Overlap="true" Class="my-1">
                                <MudIcon Icon="@Icons.Material.Filled.PlayLesson" Color="Color.Primary" Size="Size.Small"/>
                            </MudBadge>
                        }

                        @if (day.Value.Count == 0)
                        {
                            <MudBadge Content="0" Overlap="true" Class="my-1" Color="Color.Default">
                                <MudIcon Icon="@Icons.Material.Filled.Today" Color="Color.Default" Size="Size.Small"/>
                            </MudBadge>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    }
</MudPaper>
