@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudPopoverProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIcon Class="ml-n2" Icon="@Icons.Material.Outlined.GpsFixed" Color="Color.Inherit"/>
        <MudText Typo="Typo.h5" Class="ml-7">Fipsters Activity Aggregator</MudText>
        <MudSpacer/>
        @if (_pageName == "yearlyCalendar")
        {
            <MudIconButton Href="@($"calendar/year/{_year - 1}")" Icon="@Icons.Material.Outlined.ArrowBackIos"
                           Color="Color.Primary"/>
            <MudButton Variant="Variant.Text">
                <MudText Typo="Typo.h5">@_year</MudText>
            </MudButton>
            <MudIconButton Href="@($"calendar/year/{_year + 1}")" Icon="@Icons.Material.Outlined.ArrowForwardIos"
                           Color="Color.Primary"/>
        }
        <MudSpacer/>
        <div class="d-flex gap-1 align-items-center">
            @if (_queueRate > 0.1)
            {
                <MudText Class="mr-4" Style="width: 100px;">@_queueCount jobs</MudText>
            }
            @if (_queueRate > 0.1)
            {
                <MudText Class="mr-4" Style="width: 100px;">@_queueRate/s</MudText>
            }
            @for (int i = _queueWorker; i > 0; i--)
            {
                @if (_queueActive >= i)
                {
                    <MudAvatar Color="Color.Primary" Size="Size.Small"/>
                }
                else
                {
                    <MudAvatar Color="Color.Default" Size="Size.Small"/>
                }
            }
            <MudIcon Class="ml-4" Icon="@Icons.Custom.Brands.StackOverflow"/>
        </div>
    </MudAppBar>
    <MudDrawer Variant="@DrawerVariant.Mini" Open="_drawerOpen" Color="Color.Primary" ClipMode="DrawerClipMode.Always"
               Elevation="2">
        <NavMenu DrawerToggled="OnDrawerToggle"/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
