<MudCard Class="flex-1">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">@Title</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
             <MudFileUpload  T="IReadOnlyList<IBrowserFile>" multiple
                           Accept=".zip"
                           FilesChanged="OnFilesChanged">
                <ActivatorContent>
                    <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Upload" />
                </ActivatorContent>
            </MudFileUpload>
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        @foreach (var file in uploads.Values)
        {
            <div class="mt-2">
                <strong>@file.FileName</strong>
                <progress value="@file.Progress" max="100" style="width:400px;"></progress>
                <span>@file.Progress% (@file.UploadedBytes / @file.TotalBytes bytes)</span>
            </div>
        }
    </MudCardContent>
</MudCard>